.parent{
    display: flex;
    flex-wrap: wrap;
}

.baby{
    display: flex;
    flex-wrap: wrap;
}

.right{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 40px 20px;
    width: 400px;
}

.answer{
    padding-top: 150px;
    width: 100px;
}

.img{
    padding: 100px 50px;
}

h1{
    color: rgb(155, 108, 48);
}

p{
    color: rgb(87, 126, 95);
}

input{
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(182, 155, 146);
    padding: 10px 5px;
}

button{
    width: 300px;
    background-color: teal;
    color: white;
    font-size: larger;
    padding: 10px 15px;
}


@media (min-width: 600px){
    .left{
        width: 300px;
    }
    
    .right{
        width: 600px;
        padding: 40px 20px;
    }
}